{% extends "base.html" %}
{% block title %}{% trans %}Reset Password{% endtrans %}{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
{% from "_formhelpers.html" import render_field %}
<div class="mb-6 flex flex-col gap-3 place-items-center">
    <a href="{{ url('/') }}">
        <img src="{{ url_for('static', filename='images/CGE_Logo.png') }}" alt="Logo" />
    </a>
    <h2 class="text-title-md2 font-bold text-black">
        {% trans %}Reset Password{% endtrans %}
    </h2>
</div>

<div class="flex justify-center">
<div class="rounded-sm border border-stroke bg-white shadow-default w-full lg:w-1/2">
    <div class="w-full p-8">
        <form action="" method="post">
            {{ form.csrf_token }}
            {{ render_field(form.username) }}
            <div class="mt-5 mb-2">
                <button type="submit" class="w-full cursor-pointer rounded-lg border border-primary bg-primary p-2 font-medium text-white transition hover:bg-opacity-90">
                    {% trans %}Reset{% endtrans %}
                </button>
            </div>
        </form>
    </div>
</div>
</div>
{% endblock %}
{% block footer %}
  {{ super() }}
{% endblock %}