{% extends "base.html" %}
{% block title %}Change Password{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
{% from "_formhelpers.html" import render_field %}
<h2 class="text-title-md2 font-semibold text-black mb-6">
    Change Password
</h2>

<div class="flex justify-center">
<div class="rounded-sm border border-stroke bg-white shadow-default w-full lg:w-1/2">
    <div class="w-full p-4 sm:p-12.5 xl:p-17.5">
        <form method="post">
            {{ form.csrf_token() }}
            {{ render_field(form.current_password) }}
            {{ render_field(form.new_password) }}
            {{ render_field(form.confirm_password) }}
            <div class="mb-5">
                <button type="submit" class="w-full cursor-pointer rounded-lg border border-primary bg-primary p-2 font-medium text-white transition hover:bg-opacity-90">
                    Confirm
                </button>
            </div>
        </form>
    </div>
</div>
</div>
{% endblock %}
{% block footer %}
  {{ super() }}
{% endblock %}